$white: #fffdfe;

$theme-colors: (
  "light": #d4effb,
  "dark": #0a1a2b,
  "primary": #003846,
  "secondary": #375f6f,
  "info": #47a4b6,
  "accent1": #7db34c,
  "accent2": #007e9f,
  "accent3": #c6e9f9,
  "success": #00ac57,
  "warning": #eacb00,
  "danger": #f8001e,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

#{$a-tags} {
  text-decoration: none;
}
#{$a-tags-hover} {
  color: $white;
}

.App {
  height: 90vh;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: -1;
  background-image: url("jobly-home.png");
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.Homepage {
  text-shadow: 0 0 8px #66757f;
}

.jobly-logo {
  height: 50px;
}

.jobly-brand {
  height: 150px;
}

// .home-hero {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;
//   position: absolute;
//   top: 0;
//   width: 100vw;
//   left: 0;
//   z-index: -1;
//   background-image: url("/static/images/signed-out-home.jpg");
//   background-size: cover;
//   background-position: center center;
//   color: #fff;
//   text-align: center;
//   padding: 1rem;
//   text-shadow: 0 0 8px #66757f;
// }

// .home-hero h1 {
//   margin-bottom: 40rem;
// }

// .home-hero:before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba(255, 255, 255, 0.3);
// }
